@import '../../utils/variables.scss';

.system-settings {
  h1 {
    margin: 0;
    font-family: 'Bold';  
    font-size: 22px;
    color: $appColor;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.login-form {
  input {
    &:hover {
      border-color: $appColor !important;
    }
  }
}

.login-btn {
  background-color: $appColor !important;
  border-color: $appColor !important;
  transition: 0.4s;

  span:last-child {
    font-family: 'Bold' !important;
  }

  &:hover {
    opacity: 0.8;
  }
}