@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.cookies-area {
  width: 100%;
  background-color: #fffffff5;
  padding: 18px 30px;
  box-shadow: 1px 1px 6px #ccccccc2;

  justify-content: space-between;

  position: fixed;
  bottom: 0;

  .content-cookies-area {
    display: flex;
    align-items: center;
    gap: 15px;

    img {
      height: auto;
      max-width: 35px;
    }

    span {
      font-size: 14.5px;
      color: #3f3d56;

      .more {
        font-family: Bold;
        color: #337ab7;
        text-decoration: underline;
        cursor: pointer;
        user-select: none;
        padding: 0 4px;
      }
    }
  }

  .buttons {
    button {
      font-size: 15px;

      &.accept {
        background-color: $appColor;
        border-color: $appColor;
      }

      &:hover {
        opacity: 0.8;
      }

      span {
        white-space: nowrap;
        font-family: 'Bold';
      }
    }
  }
}

.cookies-items {
  gap: 8px;
  margin-top: 25px;

  &:first-child {
    margin-top: 10px;
  }

  h4.cookies-item-title {
    color: $textColor;
    font-family: Bold;
    margin: 0;
  }

  .app-switch {
    &.p-inputswitch-checked {
      .p-inputswitch-slider {
        background: $appColor;
      }
    }

    .p-inputswitch-slider {
      transition: 0.4s;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  span {
    font-size: 10px;
  }

  .hidden-text-block {
    gap: 10px;
  }
}

.cookies-dialog {
  width: 500px;
  .accept {
    background-color: $appColor;
    border-color: $appColor;
    transition: 0.4s;
  
    &:hover {
      background-color: $appColor;
      border-color: $appColor;
      opacity: 0.8;
    }
  }
}

.p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover .p-inputswitch-slider {
  background: $appColor;
}

@media (max-width: 630px) {
  .cookies-area {
    flex-direction: column;

    .content-cookies-area {
      @include flex;
      span {
        text-align: center;
      }
    }
  }

  .cookies-dialog {
    max-width: 400px;
  }
}