main.sign-up article {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
main.sign-up article .background-image img {
  height: auto;
  max-width: 400px;
  user-select: none;
}
main.sign-up article .information .introduction-header {
  width: 100%;
  text-align: center;
  display: none;
  margin-bottom: 10px;
  font-family: Bold;
  color: #0D7D74;
  font-size: 25px;
}
main.sign-up article .information form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
main.sign-up article .information form .description {
  display: block;
  max-width: 500px;
  line-height: 24px;
  font-size: 15px;
  font-family: bold;
  color: #2f2e43eb;
}
main.sign-up article .information form input {
  width: 100%;
  background-color: #F2F2F2;
  border: none;
  border-radius: 7px;
  padding: 0 10px;
  padding-left: 30px;
  color: #0D7D74;
  font-weight: Bold;
  font-size: 15px;
  border: 1.5px solid #f2f2f2;
}
main.sign-up article .information form input::placeholder {
  color: #387B747D;
}
main.sign-up article .information form input.name, main.sign-up article .information form input.surname, main.sign-up article .information form input.email {
  background-repeat: no-repeat;
  background-size: 12px;
  background-position-y: center;
  background-position-x: 10px;
}
main.sign-up article .information form input.name {
  background-image: url("/src/assets/images/pages/home/name-field-preview.png");
}
main.sign-up article .information form input.surname {
  background-image: url("/src/assets/images/pages/home/surname-field-preview.png");
  background-size: 17px;
  background-position-x: 8px;
}
main.sign-up article .information form input.email {
  background-image: url("/src/assets/images/pages/home/email-field-preview.png");
}
main.sign-up article .information form input.error {
  border-color: #ff4c4c91;
}
main.sign-up article .information form .line {
  width: 100%;
  display: flex;
  gap: 15px;
}
main.sign-up article .information form .line input {
  width: 100%;
}
main.sign-up article .information form input[name=email] {
  width: 100%;
}
main.sign-up article .information form .sex-toggle {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
main.sign-up article .information form .sex-toggle .sex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 7px;
  cursor: pointer;
}
main.sign-up article .information form .sex-toggle .sex img {
  height: auto;
  max-width: 22px;
  user-select: none;
}
main.sign-up article .information form .sex-toggle .sex span {
  user-select: none;
  font-size: 15px;
  text-transform: capitalize;
}
main.sign-up article .information form .send-button {
  width: 100%;
  background-color: #0D7D74;
  border: none;
  border-radius: 7px;
  color: #fff;
  font-family: "Bold";
  font-size: 15px;
  transition: 0.3s;
}
main.sign-up article .information form .send-button:hover {
  opacity: 0.8;
}
main.sign-up article .information form .send-button.disabled {
  opacity: 0.7;
  transition: 0.3s;
  cursor: not-allowed;
}
main.sign-up article .information form .send-button.disabled:hover {
  opacity: 0.7;
}
main.sign-up article .information form .policy-area {
  width: 100%;
  display: flex;
  gap: 10px;
}
main.sign-up article .information form .policy-area .flag-area {
  min-width: 20px;
  height: 20px;
  border: 1px solid #0D7D74;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
main.sign-up article .information form .policy-area .flag-area.error {
  border-color: #E76161;
}
main.sign-up article .information form .policy-area .flag-area .flag {
  height: auto;
  max-width: 15px;
  user-select: none;
}
main.sign-up article .information form .policy-area span {
  font-size: 15px;
}
main.sign-up article .information form .policy-area span a {
  color: #060506c4;
  text-decoration: underline;
  transition: 0.3s;
}
main.sign-up article .information form .policy-area span a:hover {
  opacity: 0.8;
}

@media (max-width: 850px) {
  main.sign-up article .background-image img {
    max-width: 300px;
  }
}
@media (max-width: 750px) {
  main.sign-up article {
    justify-content: center;
  }
  main.sign-up article .background-image {
    display: none;
  }
  main.sign-up article .information .introduction-header {
    display: block;
  }
  main.sign-up article .information form .description {
    text-align: center;
    font-size: 13px;
    line-height: 21px;
  }
}

/*# sourceMappingURL=sign-up.css.map */
