@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.bootcamp-title {
  b {
    font-family: 'Bold';
    color: $appColor;
  }
}

.bootcamp-description {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  line-height: 23px;

  b {
    font-family: 'Bold';
    color: $appColor;
  }
}

.phases-block {
  .bootcamp-phases-block, .result-block {
    min-width: 400px;

    .bootcamp-header {
      font-size: 25px;
      position: relative;
      padding-left: 10px;
    
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
    
        height: 100%;
        width: 3px;
        border-radius: 5px;
        margin-right: 2px;
        background-color: $appColor;
      }
    }

    span {
      max-width: 800px;
      font-size: 15px;
  
      b {
        font-family: 'Bold';
        color: $appColor;
      }
    }
  }

  .resume-collection-text {
    .idea {
      max-width: 32px;
    }
  }
}

.resume-form {
  .policy-block {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .policy-area {
      width: 100%;
      display: flex;
      gap: 10px;
    
      .flag-area {
        min-width: 20px;
        height: 20px;
        border: 1px solid $appColor;
        border-radius: 4px;
        cursor: pointer;
    
        @include flex;
    
        &.error {
          border-color: #E76161;
        }
    
        .flag {
          height: auto;
          max-width: 15px;
          user-select: none;
        }
      }
    
      span {
        font-size: 15px;
        max-width: 480px;
    
        a {
          color: $textColor;
          text-decoration: underline;
          transition: 0.3s;
    
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}

.send-resume {
  border-color: $appColor !important;

  span {
    font-family: 'Bold';
    padding: 3px;
  }

  &.p-button-loading {
    span:first-child {
      font-family: 'primeicons';
    }
  }
}

@media (max-width: 850px) {
  .bootcamp-picture {
    display: none;
  }

  .bootcamp-description {
    font-size: 15px;
    margin-bottom: 30px;
  }
}

@media (max-width: 500px) {
  .phases-block .bootcamp-phases-block span {
    max-width: 300px;
  }

  .phases-block .result-block span {
    max-width: 350px;
  }

  .resume-collection-text {
    span {
      min-width: 250px;
    }
  }
}