@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.bootcamp-title {
  b {
    font-family: 'Bold';
    color: $appColor;
  }
}

.first-company {
  @include flex-column;

  gap: 10px;

  img {
    height: auto;
    max-width: 400px;
  }
}

@media (max-width: 400px) {
  .first-company {
    img {
      max-width: 300px;
    }
  }
}

.bootcamp-description {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  line-height: 23px;

  b {
    font-family: 'Bold';
    color: $appColor;
  }
}

.phases-block {
  .bootcamp-phases-block, .result-block {
    // min-width: 400px;

    .bootcamp-header {
      font-size: 20px;
      position: relative;
      padding-left: 10px;
    
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
    
        height: 100%;
        width: 3px;
        border-radius: 5px;
        margin-right: 2px;
        background-color: $appColor;
      }
    }

    span {
      max-width: 800px;
      font-size: 15px;
  
      b {
        font-family: 'Bold';
        color: $appColor;
      }
    }
  }

  .resume-collection-text {
    .idea {
      max-width: 32px;
    }
  }

  .bootcamp-info-block {
    position: relative;
    margin-left: auto;
    margin-right: auto;

    border: 1px solid $appColor;
    border-radius: 5px;
    padding-bottom: 15px;

    .idea {
      background-color: white;
    }
  }
}

.send-resume {
  border-color: $appColor !important;

  span {
    font-family: 'Bold';
    padding: 3px;
  }

  &.p-button-loading {
    span:first-child {
      font-family: 'primeicons';
    }
  }
}

@media (max-width: 850px) {
  .bootcamp-picture {
    display: none;
  }

  .bootcamp-description {
    font-size: 15px;
    margin-bottom: 30px;
  }
}

@media (max-width: 500px) {
  .phases-block .bootcamp-phases-block span {
    max-width: 300px;
  }

  .phases-block .result-block span {
    max-width: 350px;
  }

  .resume-collection-text {
    span {
      min-width: 250px;
    }
  }
}