@import '../utils/variables.scss';

.content {
  gap: 48px;

  section {
    gap: 12px;

    img {
      height: auto;
      max-width: 48px;
    }

    span {
      font-size: 15px;
      line-height: 23px;

      b {
        font-family: 'Bold';
        color: $appColor;
      }
    }
  }
}