@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.introduction {
  div {
    min-height: 380px;
    
    section {
      .get-started-button {
        padding: 12px 20px;
      }
    }

    section {
      .programme-preview {
        max-width: 460px;
      }
    }
  }
}

.app-content {
  margin-top: 50px;
  gap: 50px;

  section {
    div {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;

      &.reverse {
        flex-direction: row;
      }

      div {
        .description {
          line-height: 23px;
        }

        .get-started-button {
          padding: 12px 20px;
        }
      }

      div {
        .programme-preview {
          max-width: 360px;
        }
      }
    }
  }
}