@import '../utils/variables.scss';
@import '../utils/mixins.scss';

main.introduction {
  article {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;

    .background-image {
      img {
        height: auto;
        max-width: 400px;
        user-select: none;
      }
    }

    .information {
      .introduction-header {
        width: 100%;
        text-align: center;
        display: none;
        margin-bottom: 10px;
        font-family: Bold;
        color: $appColor;
        font-size: 25px;
      }

      form {
        @include flex-column;
        align-items: flex-start;
        gap: 15px;

        .description {
          display: block;
          max-width: 400px;
          line-height: 24px;
          font-size: 15px;
          font-family: bold;
          color: #2f2e43eb;
        }

        input {
          width: 100%;
          background-color: #F2F2F2;
          border: none;
          border-radius: 7px;
          min-height: 38px;
          padding: 0 10px;
          padding-left: 30px;
          color: $appColor;
          font-weight: Bold;
          font-size: 15px;
          border: 1.5px solid #f2f2f2;

          &::placeholder {
            color: #387B747D;
          }

          &.name,
          &.surname,
          &.email {
            background-repeat: no-repeat;
            background-size: 12px;
            background-position-y: center;
            background-position-x: 10px;
          }

          &.name {
            background-image: url('/src/assets/images/pages/home/name-field-preview.svg');
          }

          &.surname {
            background-image: url('/src/assets/images/pages/home/surname-field-preview.svg');
            background-size: 17px;
            background-position-x: 8px;
          }

          &.email {
            background-image: url('/src/assets/images/pages/home/email-field-preview.svg');
          }

          &.error {
            border-color: #ff4c4c91;
          }
        }

        .line {
          width: 100%;
          display: flex;
          gap: 15px;

          input {
            width: calc(100% - 40px);
          }
        }

        input[name="email"] {
          width: calc(100% - 40px);
        }

        .sex-toggle {
          width: 100%;

          @include flex;
          gap: 20px;

          .sex {
            @include flex;
            gap: 7px;
            cursor: pointer;

            img {
              height: auto;
              max-width: 21px;
              user-select: none;
            }

            span {
              user-select: none;
              font-size: 15px;
              text-transform: capitalize;
            }
          }
        }

        .send-button {
          width: 100%;
          background-color: $appColor;
          min-height: 38px;
          border: none;
          border-radius: 7px;
          color: #fff;
          font-family: 'Bold';
          font-size: 15px;
          transition: 0.3s;

          &:hover {
            opacity: 0.8;
          }

          &.disabled {
            opacity: 0.7;
            transition: 0.3s;
            cursor: not-allowed;

            &:hover {
              opacity: 0.7;
            }
          }
        }

        .policy-area {
          width: 100%;
          @include flex;
          gap: 10px;

          .flag-area {
            height: 20px;
            width: 20px;
            border: 1px solid $appColor;
            border-radius: 4px;
            cursor: pointer;

            @include flex;

            &.error {
              border-color: #E76161;
            }

            .flag {
              height: auto;
              max-width: 15px;
              user-select: none;
            }
          }

          span {
            font-size: 15px;

            a {
              text-decoration: underline;
              transition: 0.3s;

              &:hover {
                opacity: 0.8;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 850px) {
  main.home-page {
    article {
      .background-image {
        img {
          max-width: 300px;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  main.home-page {
    article {
      justify-content: center;

      .background-image {
        display: none;
      }

      .information {
        .introduction-header {
          display: block;
        }

        form {
          .description {
            text-align: center;
            font-size: 13px;
            line-height: 21px;
          }
        }
      }
    }
  }
}