@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.not-found-img {
  height: auto;
  max-width: 340px;
}

main {
  .error_message {
    text-transform: uppercase;
    margin-top: 120px;

    @include flex-column;

    span {
      font-family: 'Super-Bold';
      color: $appColor;
      font-size: 6em;
    }

    p {
      font-size: 2.7em;
    }
  }

  .link-block {
    @include flex;

    a {
      border-radius: 10px;
      margin-top: 20px;
      padding: 10px 40px;
      font-family: 'Bold';
      border: 2px solid $appColor;
      border-color: $appColor;
      font-size: 17px;
      color: $appColor;
      transition: 0.4s;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}



@media (max-width: 500px) {
  .not-found-img {
    max-width: 300px;
  }

  main {
    .error_message {
      text-align: center;
      margin-top: 70px;

      span {
        font-size: 4em;
      }

      p {
        font-size: 1.5em;
      }
    }

    .link-block {
      a {
        font-size: 0.8em;
        }
    }
  }
}
