@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.privacy-policy-page {
  @include flex-column;
  gap: 15px;

  h2, p {
    margin: 0;
  }

  section {
    @include flex-column;
    align-items: flex-start;
    gap: 15px;

    .privacy-policy-article {
      margin-top: 33px;
    }

    b {
      font-family: 'Bold';
    }

    h3, h4 {
      align-self: center;
    }

    p, h3, h4 {
      margin: 0;
    }
  }

  margin-bottom: 30px;

  a {
    color: $linkColor;
    text-decoration: underline;
  }
}

.text-center {
  text-align: center;
}
