@import '../utils/variables.scss';
@import '../utils/mixins.scss';

main.sign-up {
  article {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;

    .background-image {
      img {
        height: auto;
        max-width: 400px;
        user-select: none;
      }

      .background-image-item {
        width: 420px;
      }
    }

    .information {
      .introduction-header {
        width: 100%;
        text-align: center;
        display: none;
        margin-bottom: 10px;
        font-family: Bold;
        color: $appColor;
        font-size: 25px;
      }

      form {
        @include flex-column;
        align-items: flex-start;
        gap: 15px;

        .description {
          display: block;
          max-width: 500px;
          line-height: 24px;
          font-size: 15px;
          font-family: bold;
          color: #2f2e43eb;

          a {
            font-family: bold;
            color: #2f2e43eb;
            text-decoration: underline;
          }
        }

        input {
          width: 100%;
          background-color: #F2F2F2;
          border: none;
          border-radius: 7px;
          padding: 0 10px;
          padding-left: 30px;
          color: $appColor;
          font-weight: Bold;
          font-size: 15px;
          border: 1.5px solid #f2f2f2;

          &::placeholder {
            color: #387B747D;
          }

          &.name,
          &.surname,
          &.email {
            background-repeat: no-repeat;
            background-size: 12px;
            background-position-y: center;
            background-position-x: 10px;
          }

          &.company-field {
            background-size: 15px;
          }

          &.error {
            border-color: #ff4c4c91;
          }
        }

        .line {
          width: 100%;
          display: flex;
          gap: 15px;

          input {
            width: 100%;
          }
        }

        input[name="email"] {
          width: 100%;
        }

        .sex-toggle, .client-type-toggle {
          width: 100%;
          border-radius: $borderRadius;
          background-color: #F2F2F2;
          padding: 0 5px;

          @include flex;
          gap: 10px;

          .sex, .client-type {
            height: 32px;
            width: 100%;
            gap: 7px;
            cursor: pointer;
            border-radius: $borderRadius;
            border: 1.5px solid #f2f2f2;
            
            &:hover {
              opacity: 0.7;
            }

            &.active {
              border-color: $appColor;
              &:hover {
                opacity: 1;
              }

              span {
                color: $appColor;
              }
            }

            @include flex;

            img {
              height: auto;
              max-width: 18px;
              user-select: none;
            }

            span {
              user-select: none;
              font-size: 15px;
              text-transform: capitalize;
              color: #706f6f;
            }
          }
        }

        .send-button {
          width: 100%;
          background-color: $appColor;
          border: none;
          border-radius: 7px;
          color: #fff;
          font-family: 'Bold';
          font-size: 15px;
          transition: 0.3s;

          &:hover {
            opacity: 0.8;
          }

          &.disabled {
            opacity: 0.7;
            transition: 0.3s;
            cursor: not-allowed;

            &:hover {
              opacity: 0.7;
            }
          }
        }

        .policy-area {
          width: 100%;
          display: flex;
          gap: 10px;

          .flag-area {
            min-width: 20px;
            height: 20px;
            border: 1px solid $appColor;
            border-radius: 4px;
            cursor: pointer;

            @include flex;

            &.error {
              border-color: #E76161;
            }

            .flag {
              height: auto;
              max-width: 15px;
              user-select: none;
            }
          }

          span {
            font-size: 15px;

            a {
              color: $textColor;
              text-decoration: underline;
              transition: 0.3s;

              &:hover {
                opacity: 0.8;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 950px) {
  main.sign-up {
    article {
      .background-image {
        img {
          max-width: 300px;
        }

        .background-image-item {
          width: 320px;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  main.sign-up {
    article {
      justify-content: center;

      .background-image {
        display: none;
      }

      .information {
        .introduction-header {
          display: block;
        }

        form {
          .description {
            text-align: center;
            font-size: 13px;
            line-height: 21px;
          }
        }
      }
    }
  }
}


@media (max-width: 500px) {
  main.sign-up article .information form .line {
    gap: 5px;
  }
  
  .sex, .client-type {
    img {
      display: none;
    }
  }
}
