@import '../utils/variables.scss';

.students-header {
  font-size: 25px;
  position: relative;
  padding-left: 10px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 3px;
    border-radius: 5px;
    margin-right: 2px;
    background-color: $appColor;
  }
}

.students-title {
  b {
    font-family: 'Bold';
    color: $appColor;
  }
}

.ds-block {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  min-height: 267px;

  .students-header {
    text-align: center;

    &::before {
      display: none;
    }
  }

  span {
    text-align: center;
    max-width: 800px;
    font-size: 15px;

    b {
      font-family: 'Bold';
      color: $appColor;
    }
  }
}

.info-block {
  margin-top: 50px;

  .data-science-block {
    min-width: 400px;

    .check {
      margin-top: 2px;
      margin-left: 2px;
      height: auto;
      max-width: 18px;
    }

    span {
      max-width: 800px;
      font-size: 15px;
  
      b {
        font-family: 'Bold';
        color: $appColor;
      }
    }
  }
}

.structure-block {
  margin-top: 60px;

  span {
    max-width: 500px;
    font-size: 15px;

    b.title {
      font-family: 'Bold';
      color: $headerColor;
    }
  }

  .idea {
    height: auto;
    max-width: 32px;
  }

  .analytics-img {
    height: auto;
    max-width: 400px;
  }

  .program-finish {
    max-width: 460px;

    b {
      font-family: 'Bold';
      color: $appColor;
    }
  }
}

.description-block {
  margin-top: 60px;

  span {
    max-width: 800px;
    font-size: 15px;

    b {
      font-family: 'Bold';
      color: $appColor;
    }
  }
}

.value-proposition {
  margin-top: 70px;
}

.value-proposition-content {
  gap: 50px 20px;
  align-items: start;
  justify-content: space-between;

  
  span {
    font-size: 15px;
    max-width: 450px;
    background-color: #cccccc1c;
    padding: 18px;
    border-radius: 13px;

    b {
      color: $appColor;
      font-family: 'Bold';
    }
  }
}

@media (max-width: 960px) {
  .value-proposition-content {
    gap: 20px;
    justify-content: center !important;
    align-items: center !important;
  }
}

@media (max-width: 850px) {
  .data-science-picture {
    display: none;
  }
}

@media (max-width: 750px) {
  .ds-block {
    min-height: 267px;
    
    section {
      flex-direction: column-reverse !important;
    }
  
    span {
      max-width: 600px;
      font-size: 15px;
  
      b {
        font-family: 'Bold';
        color: $appColor;
      }
    }
  }

  .info-block {
    margin-top: 40px;
  }

  .structure-block {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    .structure-block-info {
      align-self: flex-start;
    }
  
    section {
      flex-direction: column;

      .analytics-img {
        height: auto;
        max-width: 300px;
      }
    }
  
  }

  .description-block {
    margin-top: 35px;
  }

  .value-proposition {
    margin-top: 40px;
  }
}

@media (max-width: 500px) {
  .info-block .data-science-block span {
    max-width: 300px;
  }
}