@import './utils/variables.scss';
@import './utils/mixins.scss';

html,
body,
#root {
  height: 100%;
}

a {
  color: $linkColor;
}

a.disabled-link {
  opacity: 0.6;

  &:hover {
    opacity: 0.6;
  }
}

.cursor-default {
  cursor: default !important;
}

.editor-area {
  position: relative;

  .editor-area-label {
    position: absolute;
    z-index: 1;
    user-select: none;
    font-family: 'Bold';
    color: #444444d6;
    font-size: 11px;
    left: -21px;
    top: 0px;
  }
}

.editor-textarea {
  width: 100%;
  resize: vertical !important;
  min-height: 60px;
  position: relative;
}

.application {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-width-limit {
  max-width: $maxWidth !important;
  padding: $appPadding;
}

.app-line-height {
  line-height: 22px;
}

.app-header-color {
  color: $headerColor;
}

.app-container {
  max-width: $maxWidth !important;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  margin-top: 101px; /* Header height */
  padding: 0 $appPadding;
  padding-top: 20px;
  align-items: center;

  flex: 1 0 auto;
}

.main-footer, .main-header {
  flex-shrink: 0;
}

a {
  text-decoration: none;
  transition: 0.5s all;
  user-select: none;
}

input, button, textarea {
  outline: none;
  font-family: 'Regular', Arial;
}

.important-hidden {
  display: none !important;
}

button {
  user-select: none;
  cursor: pointer;
}

ul li {
  list-style-type: none;
}

.app-font {
  font-family: 'Regular';
}

.app-font-bold {
  font-family: 'Bold';
}

.app-link-color {
  color: $linkColor;
}

.app-color {
  color: $appColor;
}

.app-bg-color {
  background-color: $appColor !important;
}

.app-button-colors {
  background-color: $appColor !important;
  border-color: $appColor !important;
  transition: 0.3;

  span {
    font-family: 'Bold';
  }

  &:hover {
    opacity: 0.8;
  }
}

.app-gray-color {
  color: $grayColor;
}

.app-border-radius {
  border-radius: $borderRadius;
}

.app-color-border {
  border: 1.7px solid $appColor;
}

.app-hover {
  transition: 0.3s;

  &:hover {
    opacity: 0.7;
  }
}

.app-text-shadow {
  text-shadow: 2px 2px 2px #0000002e;
}

.app-elements-height {
  min-height: 43px;
}

.app-button {
  background: none;
  padding: 0.6rem;
  border: 1.7px solid $appColor;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-family: 'Bold';
  color: $appColor;
  transition: 0.3s;

  &:hover {
    opacity: 0.7;
  }
}

div.p-fileupload-basic {
  span.p-fileupload-choose {
    width: 100%;
    background: none;
    border-color: $appColor;
    color: $appColor;

    span.p-button-icon-left {
      font-weight: 800;
    }

    span.p-clickable {
      font-family: "Bold";
      span.p-clickable {
        font-family: "Bold";
      }
    }
  }
}

.p-button:not(button):not(a):not(.p-disabled){
  transition: 0.3s;

  &:hover {
    background: none;
    color: $appColor;
    border-color: $appColor;
    opacity: 0.6;
  }
}

.bold-button-span {
  span {
    font-family: "Bold";
  }
}

.dialog-form {
  .policy-block {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .policy-area {
      width: 100%;
      display: flex;
      gap: 10px;
    
      .flag-area {
        min-width: 20px;
        height: 20px;
        border: 1px solid $appColor;
        border-radius: 4px;
        cursor: pointer;
    
        @include flex;
    
        &.error {
          border-color: #E76161;
        }
    
        .flag {
          height: auto;
          max-width: 15px;
          user-select: none;
        }
      }
    
      span {
        font-size: 15px;
        max-width: 480px;
    
        a {
          color: $textColor;
          text-decoration: underline;
          transition: 0.3s;
    
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}

@media (max-width: 490px) {
  .app-container {
    width: 100%;
    padding: 0 20px;
    padding-top: 15px;
  }
}

@media (max-width: 500px) {
  div.p-dialog, div.p-dialog-content {
    min-width: 370px !important;
  }
}

.animated-button {
  outline: none;
  color: #fff;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, #0D7D74 0%, #239e94 50%, #03a99c 100%);
  transition: background-position 0.5s, color 0.5s;
  animation: gradient-animation 3s infinite alternate, scale-animation 1.5s infinite alternate;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2);
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes scale-animation {
  0%, 100% {
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2);
  }
  50% {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  }
}