body {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Regular', Arial;
}

.iub__us-widget {
  display: none !important;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

sup {
  font-size: 18px;
}